@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1 {
        font-size: 5.2vw;
        font-weight: 600;
        line-height: theme(lineHeight.120);
        letter-spacing: -0.208vw;
        text-transform: capitalize;
    }

    h2 {
        font-size: 3.47vw;
        font-weight: 600;        
    }
    
    h3 {
        font-size: 3.125vw;
        font-weight: 600;
    }
    
    h4 {
        font-size: 2.43vw;
        font-weight: 600;
    }
    
    h5 {
        font-size: 1.47vw;
        font-weight: 600;
    }

    input {
        background: none;
        outline: none;
    }

    a {
        cursor: pointer;
    }

    .container {
        max-width: 86%;
        margin: 0 auto;
    }

    .bg-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    svg {
        width: 100%;
        height: 100%;
    }

    .theme-switcher {
        background-image: url('/dive-sea/src/assets/icons/sun.svg');
        background-position: center;
        background-size: cover;
        width: 2.5vw;
        height: 2.5vw;
    }
}

html.dark .logo path {
    fill: theme(textColor.grey.C5)
}

html.dark .search path {
    stroke: theme(textColor.grey.C5)
}

html.dark .ethereum path {
    fill: theme(textColor.grey.C5)
}

/* width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #C5C5C5;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #141416; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000; 
}